.Main {
  /* border: solid 1px red; */
  padding: 1.5em;
}

.Main article {
  border: solid 1px lightseagreen;
  border-radius: 1em;
  padding: 1em;
}

.Constellation {
  display: flex;
  justify-content: space-between;
}
.Constellation span {
  font-size: 2.5em;
  font-weight: 500;
  font-style: oblique;
  color: lightseagreen;
}

.Main p {
  color: lightseagreen;
  text-decoration: underline;
}
.Main p, .Main h2 {
  /* border: solid 1px blue; */
  /* padding: 0; */
  margin:0;
}